<div class="container-fluid d-md-flex justify-content-between ">
    <div class=" d-flex justify-content-center row">
        <div class="border-0 col-8  ">
            <img class="card-img-top" src="/img/img-productos/<%= producto.imagen%>" alt="Card image cap">
            <div class="">
                <h5 class="card-title"><%= producto.nombre %> </h5>
                <p class="card-text"><%=producto.descripcion%></p>

            </div>
        </div>

    </div>
    <div class="row-md-3 d-flex d-md-block justify-content-center col-md-5">
        <h5 class="card-title d-none d-md-block"><%= producto.nombre %> </h5>
        <article class=" pt-2 d-md-block">$<%=producto.precio%></article>
        <a href="#" class="btn boton col-4 rounded-pill my-0 mx-auto ">Comprar</a>
    </div>
</div>